In [1]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt

# S&P500 成分股

# Yahoo Finance

https://finance.yahoo.com/quote/CMG?p=CMG&.tsrc=fin-srch

### Target

1. Crawl the past price of the traget stock.

2. Combine the dataset sysmatically. -> Generate the right dataframe format as an output.

3. Compute the essential statistics with Python or R.

## Get S&P500 Stock Names

In [4]:
sp500_url = 'https://www.cnyes.com/usastock/hotprice.aspx?page=hot&kind=sp500'

res = requests.get(sp500_url)
res

In [5]:
soup = BeautifulSoup(res.text, "html.parser")

In [6]:
#id="ctl05_TBstock"
table = soup.find_all("table")

In [7]:
table = soup.find(id = "ctl05_TBstock")

In [8]:
df_sp500 = pd.read_html(str(table))

In [9]:
df_sp500[0]

,時間,代碼,名稱,成交價,漲跌,漲幅%,開盤,最高,最低,成交量
0,00:00,A,安捷倫科技公司Agilent Technologies Inc,88.14,1.45,1.67,87.17,88.49,86.46,2394576
1,00:00,AAPL,蘋果APPLE INC,318.95,0.70,0.22,319.25,321.15,316.47,38393832
2,00:00,ABC,美源伯根公司AMERISOURCE BERGEN CORP,95.34,0.94,1.00,94.70,95.60,93.61,1582133
3,00:00,ABT,美國雅培公司ABBOTT LABORATORIES,94.92,2.82,3.06,92.90,95.59,90.75,10141091
4,00:00,ADBE,阿德寶軟體公司ADOBE SYSTEMS INC,386.60,6.77,1.78,382.62,389.05,377.07,5937467
...,...,...,...,...,...,...,...,...,...,...
407,00:00,XRAY,登士派國際公司DENTSPLY INTERNAT INC,46.52,-0.47,-1.00,46.61,46.87,45.81,2465212
408,00:00,XRX,全錄XEROX CORP,15.88,-0.93,-5.53,16.61,16.70,15.82,20755308
409,06:34,YHOO,雅虎YAHOO! INC,123.47,0.00,0.00,123.47,123.47,123.47,0
410,00:00,YUM,百勝餐飲集團YUM! BRANDS INC,89.73,-1.12,-1.23,90.28,90.92,88.51,14610238
411,00:00,ZION,Zion銀行ZIONS BANCORP,32.90,-1.12,-3.29,33.21,33.90,32.87,4209423

## 成分股

In [12]:
sp500_url = "https://www.slickcharts.com/sp500"
res = requests.get(sp500_url)
soup = BeautifulSoup(res.text, "html.parser")

body > div.container-fluid.mt-4.maxWidth > div:nth-child(2) > div.col-lg-7 > div > div > table

In [13]:
table = soup.find("table")

In [14]:
df_sp500 = pd.read_html(str(table))

In [15]:
df_sp500 = df_sp500[0]

In [16]:
df_sp500["Symbol"]

0       MSFT
1       AAPL
2       AMZN
3         FB
4      GOOGL
       ...
500      JWN
501      UAA
502       UA
503      NWS
504     COTY
Name: Symbol, Length: 505, dtype: object

In [17]:
sp500_symbol = df_sp500["Symbol"]

In [18]:
for symbol in sp500_symbol:
    print(symbol, end = ' ')

MSFT AAPL AMZN FB GOOGL GOOG JNJ BRK.B V JPM PG UNH INTC MA HD VZ T PFE DIS NVDA BAC MRK CSCO XOM PEP ADBE KO NFLX CMCSA WMT PYPL CVX ABT CRM ABBV MCD BMY TMO COST AMGN MDT ACN LLY NEE NKE UNP ORCL PM AMT AVGO IBM TXN LIN C HON WFC DHR LMT RTX LOW GILD SBUX MMM QCOM CVS FIS CHTR BLK BA SPGI CI MDLZ ANTM INTU MO VRTX NOW BDX CCI UPS BKNG D PLD CAT ISRG AXP ZTS TJX CME GS SYK ADP DUK CL EQIX FISV AMD TGT SO GE REGN CB CSX ILMN BIIB ATVI MMC NOC HUM GPN APD ECL ICE BSX USB MS MU TFC PNC ITW AMAT SHW KMB DE NEM COP NSC DG AON EW BAX PGR ADSK LHX MCO EL AEP WM SCHW ADI ROP CNC LRCX DLR TMUS GIS DD EXC EMR SRE ROST EA ETN SBAC PSX GD EBAY XEL GM DXCM COF ALL BK WBA FDX ORLY KMI PSA EOG CTSH STZ HCA DOW SYY MET APH TROW WEC TRV INFO TEL KLAC VLO YUM VRSK MSCI AZO MNST AIG A AFL WLTW IQV ZBH IDXX ES SLB CMI SNPS CLX PEG KR PCAR CMG ALXN MCK ROK PRU MAR CDNS TWTR ED JCI PPG WMB ANSS MSI DLTR BLL FE FAST PAYX PH MPC F MCHP HLT STT RMD XLNX CERN AWK HPQ AVB VRSN ADM TT TDG FLT EQR PPL MKC CTAS AME WELL EIX DTE OTIS ETR CTVA HSY SWKS KEYS VFC MTD O FTNT SWK ARE KHC DHI APTV EFX TSN SPG FRC CPRT AMP MKTX FTV CHD AEE ALGN RSG INCY GLW BBY AJG LUV LH NTRS LEN AKAM TFX LYB CMS LVS CAG K ESS CTXS AMCR CARR CAH WY ODFL CDW DGX DFS COO PXD OKE MXIM WST KSU TTWO DAL CBRE KMX VMC MTB IFF FITB EVRG ABC DPZ HIG DOV PAYC TSCO HOLX ULTA ZBRA LDOS STE IP TIF BR VTR JKHY GWW NDAQ MAA HRL MAS FCX GRMN NUE EXPD DRE WAT WDC FMC BXP SJM EXR PEAK HES HPE MLM GPC XYL OXY ATO ANET BF.B SYF OMC KEY NLOK STX IEX LNT QRVO J CBOE VIAC VAR UDR NVR WAB CE SIVB RF CXO PKI CHRW EXPE IT CFG BKR HAL PFG XRAY URI ETFC JBHT FOXA NTAP IR ABMD CTL DRI AAP PKG HBAN HAS EMN AVY ALLE NRG CINF HSIC CNP NI MGM MYL RCL PHM RJF LW L HST PNW UHS LKQ FBHS WU AES FFIV WRB CPB RE HII ALB WYNN DISH JNPR COG LNC GL WHR PRGO REG WRK IRM SNA TAP TXT DVA FANG LYV IPG DISCK PNR BWA AOS CF CCL UAL AIZ RHI FLIR VNO ZION ROL FRT MHK AIV CMA IPGP BEN PWR PBCT NWL HWM NLSN SEE NOV KIM HFC MRO NBL FOX DVN NWSA APA AAL MOS ALK DXC LEG RL TPR HBI PVH LB SLG HOG NCLH DISCA FLS HRB UNM FTI KSS XRX IVZ GPS ADS JWN UAA UA NWS COTY

### S&P100

In [20]:
SP100_wiki_url = "https://en.wikipedia.org/wiki/S%26P_100"
res = requests.get(SP100_wiki_url)
res

In [23]:
soup = BeautifulSoup(res.text, "html.parser")
tables = soup.find_all("table")

In [25]:
tables = pd.read_html(str(tables))

In [26]:
type(tables)

list

In [29]:
tables[2]

    Symbol                      Name
0     AAPL                Apple Inc.
1     ABBV               AbbVie Inc.
2      ABT       Abbott Laboratories
3      ACN                 Accenture
4     ADBE                Adobe Inc.
..     ...                       ...
96      VZ    Verizon Communications
97     WBA  Walgreens Boots Alliance
98     WFC               Wells Fargo
99     WMT                   Walmart
100    XOM         Exxon Mobil Corp.

[101 rows x 2 columns]

In [30]:
df_SP100 = tables[2]

In [48]:
print("','".join(df_SP100['Symbol']))

AAPL','ABBV','ABT','ACN','ADBE','AIG','ALL','AMGN','AMT','AMZN','AXP','BA','BAC','BIIB','BK','BKNG','BLK','BMY','BRK.B','C','CAT','CHTR','CL','CMCSA','COF','COP','COST','CRM','CSCO','CVS','CVX','DD','DHR','DIS','DOW','DUK','EMR','EXC','F','FB','FDX','GD','GE','GILD','GM','GOOG','GOOGL','GS','HD','HON','IBM','INTC','JNJ','JPM','KHC','KMI','KO','LLY','LMT','LOW','MA','MCD','MDLZ','MDT','MET','MMM','MO','MRK','MS','MSFT','NEE','NFLX','NKE','NVDA','ORCL','OXY','PEP','PFE','PG','PM','PYPL','QCOM','RTX','SBUX','SLB','SO','SPG','T','TGT','TMO','TXN','UNH','UNP','UPS','USB','V','VZ','WBA','WFC','WMT','XOM

In [41]:
for sym in df_SP100['Symbol']:
    print(sym, end = ' ')

AAPL ABBV ABT ACN ADBE AIG ALL AMGN AMT AMZN AXP BA BAC BIIB BK BKNG BLK BMY BRK.B C CAT CHTR CL CMCSA COF COP COST CRM CSCO CVS CVX DD DHR DIS DOW DUK EMR EXC F FB FDX GD GE GILD GM GOOG GOOGL GS HD HON IBM INTC JNJ JPM KHC KMI KO LLY LMT LOW MA MCD MDLZ MDT MET MMM MO MRK MS MSFT NEE NFLX NKE NVDA ORCL OXY PEP PFE PG PM PYPL QCOM RTX SBUX SLB SO SPG T TGT TMO TXN UNH UNP UPS USB V VZ WBA WFC WMT XOM

### Inset Keywords

In [2]:
keywords = [i for i in input().split()]

In [3]:
keywords.sort()

In [4]:
" ".join(keywords)

'A AAL AAP AAPL ABBV ABC ABMD ABT ACN ADBE ADI ADM ADP ADS ADSK AEE AEP AES AFL AIG AIV AIZ AJG AKAM ALB ALGN ALK ALL ALLE ALXN AMAT AMCR AMD AME AMGN AMP AMT AMZN ANET ANSS ANTM AON AOS APA APD APH APTV ARE ATO ATVI AVB AVGO AVY AWK AXP AZO BA BAC BAX BBY BDX BEN BF.B BIIB BK BKNG BKR BLK BLL BMY BR BRK.B BSX BWA BXP C CAG CAH CARR CAT CB CBOE CBRE CCI CCL CDNS CDW CE CERN CF CFG CHD CHRW CHTR CI CINF CL CLX CMA CMCSA CME CMG CMI CMS CNC CNP COF COG COO COP COST COTY CPB CPRT CRM CSCO CSX CTAS CTL CTSH CTVA CTXS CVS CVX CXO D DAL DD DE DFS DG DGX DHI DHR DIS DISCA DISCK DISH DLR DLTR DOV DOW DPZ DRE DRI DTE DUK DVA DVN DXC DXCM EA EBAY ECL ED EFX EIX EL EMN EMR EOG EQIX EQR ES ESS ETFC ETN ETR EVRG EW EXC EXPD EXPE EXR F FANG FAST FB FBHS FCX FDX FE FFIV FIS FISV FITB FLIR FLS FLT FMC FOX FOXA FRC FRT FTI FTNT FTV GD GE GILD GIS GL GLW GM GOOG GOOGL GPC GPN GPS GRMN GS GWW HAL HAS HBAN HBI HCA HD HES HFC HIG HII HLT HOG HOLX HON HPE HPQ HRB HRL HSIC HST HSY HUM HWM IBM ICE IDXX IEX IFF ILMN INCY INFO INTC INTU IP IPG IPGP IQV IR IRM ISRG IT ITW IVZ J JBHT JCI JKHY JNJ JNPR JPM JWN K KEY KEYS KHC KIM KLAC KMB KMI KMX KO KR KSS KSU L LB LDOS LEG LEN LH LHX LIN LKQ LLY LMT LNC LNT LOW LRCX LUV LVS LW LYB LYV MA MAA MAR MAS MCD MCHP MCK MCO MDLZ MDT MET MGM MHK MKC MKTX MLM MMC MMM MNST MO MOS MPC MRK MRO MS MSCI MSFT MSI MTB MTD MU MXIM MYL NBL NCLH NDAQ NEE NEM NFLX NI NKE NLOK NLSN NOC NOV NOW NRG NSC NTAP NTRS NUE NVDA NVR NWL NWS NWSA O ODFL OKE OMC ORCL ORLY OTIS OXY PAYC PAYX PBCT PCAR PEAK PEG PEP PFE PFG PG PGR PH PHM PKG PKI PLD PM PNC PNR PNW PPG PPL PRGO PRU PSA PSX PVH PWR PXD PYPL QCOM QRVO RCL RE REG REGN RF RHI RJF RL RMD ROK ROL ROP ROST RSG RTX SBAC SBUX SCHW SEE SHW SIVB SJM SLB SLG SNA SNPS SO SPG SPGI SRE STE STT STX STZ SWK SWKS SYF SYK SYY T TAP TDG TEL TFC TFX TGT TIF TJX TMO TMUS TPR TROW TRV TSCO TSN TT TTWO TWTR TXN TXT UA UAA UAL UDR UHS ULTA UNH UNM UNP UPS URI USB V VAR VFC VIAC VLO VMC VNO VRSK VRSN VRTX VTR VZ WAB WAT WBA WDC WEC WELL WFC WHR WLTW WM WMB WMT WRB WRK WST WU WY WYNN XEL XLNX XOM XRAY XRX XYL YUM ZBH ZBRA ZION ZTS'

# ALL S&P500 STOCKS

### Selenium

In [3]:
import requests
from bs4 import BeautifulSoup
import sys
import codecs
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.keys import Keys
import requests
import time
from fake_useragent import UserAgent
import csv
import pandas as pd

### Use try & except

In [6]:
#Use fake UserAgent
def set_header_user_agent():
    user_agent = UserAgent()
    return user_agent.random

#open browser #打開瀏覽器，但不要載入圖片
options = webdriver.ChromeOptions()
prefs = {
    'profile.default_content_setting_values': {
        'images': 2,
        #'javascript': 2
    }
}
options.add_experimental_option('prefs', prefs)

#ua = "Mozilla/5.0 (Windows NT 10.0; WOW64; rv:53.0) Gecko/20100101 Firefox/53.0"
#headers = {'User-Agent': 'User-Agent:Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36'}
#user_agent = set_header_user_agent()
#headers={ 'user-agent': user_agent }
#options.add_argument("user-agent={}".format(user_agent)) # 使用偽造的 user-agent
#options.add_argument(headers)

driver = webdriver.Chrome('./chromedriver', chrome_options=options)


#define urls
url = 'https://finance.yahoo.com/quote/'

#for loop
i = 1
for keyword in keywords:
    
    try:

        #hist url
        hist_url = url+keyword+"/history?p="+keyword

        #開啟網頁
        driver.get(hist_url)
        driver.implicitly_wait(5)

        #點日期
        driver.find_element_by_xpath("""//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/div[1]/div/div/div/span""").click()
        driver.implicitly_wait(5)
        #time.sleep(0.5)
        #點max
        driver.find_element_by_xpath("""//*[@id="dropdown-menu"]/div/ul[2]/li[4]/button/span""").click()
        driver.implicitly_wait(5)
        #time.sleep(0.5)

        #點frequency
        #driver.find_element_by_xpath("""//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/div[3]/span/div/svg""").click()
        #driver.find_element_by_xpath("""//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/div[3]/span/div/span/span""").click()
        #點apply
        driver.find_element_by_xpath("""//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/button/span""").click()
        driver.implicitly_wait(20)
        #time.sleep(0.5)

        #html parse 抓下載檔案的網址
        hist_soup = BeautifulSoup(driver.page_source, 'html.parser')
        links = hist_soup.select(".Fl(end).Mt(3px).Cur(p)") #帶有空格的class需要用.來取

        #CSV file link
        csv_url = links[0]['href']
        df = pd.read_csv(csv_url)
        df = df[['Date','Close']]
        df.rename(columns={'Close':keyword}, inplace=True) #rename the column after the specific stock

        #把某支股票的歷史價格存成csv檔
        file_path = "prices/" + keyword+".csv"
        df.to_csv(file_path, index=False)
        
        #assign不同的股票到不同的dataframe, 迴圈跑完要merge在一起
        names = locals()
        names['df%s' % i] = df
        i+=1
    
    except:
        i+=1
    #time.sleep(1)

#df = df1 #df是最後要的pooled的dataFrame，先assign成df1，再逐個跟其後的合併
#for j in range(2, i):
#    df = pd.merge(df, names['df%s' % j], how = 'left', on = ["Date"])
    #check how to use pd.merge() in the ref: 
    #https://pandas-docs.github.io/pandas-docs-travis/user_guide/merging.html

#df = df1
#for j in range(2, len(keywords)+1):
#    try:
#        df = pd.merge(df, names['df%s' % j], how = 'left', on = ["Date"])
#    except:
#        print("missing df"+j)

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:23: DeprecationWarning: use options instead of chrome_options

In [7]:
keywords.index("EXR")

173

In [8]:
df353.head()

         Date       O
0  1994-10-18  8.0000
1  1994-10-19  8.6875
2  1994-10-20  8.7500
3  1994-10-21  8.6250
4  1994-10-24  8.4375

In [9]:
df.head()

         Date        ZTS
0  2013-02-01  31.010000
1  2013-02-04  31.020000
2  2013-02-05  31.040001
3  2013-02-06  31.030001
4  2013-02-07  32.000000

In [11]:
df = df1
count = 0
for j in range(2, len(keywords)+1):
    try:
        df = pd.merge(df, names['df%s' % j], how = 'left', on = ["Date"])
    except:
        count+=1
        print("missing df"+str(j))
print("total missing: ", str(count))

missing df63
missing df72
total missing:  2

In [21]:
print(keywords[62], keywords[71]) #找出缺少的

BF.B BRK.B

In [27]:
#找到股價
BF_B_url = "https://query1.finance.yahoo.com/v7/finance/download/BF-B?period1=322099200&period2=1590624000&interval=1d&events=history"
BRK_B_url = "https://query1.finance.yahoo.com/v7/finance/download/BRK-B?period1=831600000&period2=1590624000&interval=1d&events=history"

#下載下來
df_BF_B = pd.read_csv(BF_B_url)
df_BF_B = df_BF_B[['Date','Close']]
df_BF_B.rename(columns={'Close':"BF-B"}, inplace=True) #rename the column after the specific stock
#把某支股票的歷史價格存成csv檔
file_path = "prices/BF-B.csv"
df_BF_B.to_csv(file_path, index=False)

df_BRK_B = pd.read_csv(BRK_B_url)
df_BRK_B = df_BRK_B[['Date','Close']]
df_BRK_B.rename(columns={'Close':"BRK-B"}, inplace=True) #rename the column after the specific stock
#把某支股票的歷史價格存成csv檔
file_path = "prices/BRK-B.csv"
df_BRK_B.to_csv(file_path, index=False)

In [12]:
df.head()

,Date,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,...,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
0,1999-11-18,31.473534,NaN,NaN,3.200893,NaN,3.453125,14.0000,17.058233,NaN,...,46.25000,40.531250,8.031250,73.122528,NaN,7.750719,NaN,27.611111,64.5000,NaN
1,1999-11-19,28.880543,NaN,NaN,3.301339,NaN,3.421875,14.5000,16.833782,NaN,...,46.37500,39.843750,8.062500,75.592888,NaN,7.638390,NaN,27.833334,64.6250,NaN
2,1999-11-22,31.473534,NaN,NaN,3.236607,NaN,3.312500,14.1250,17.451021,NaN,...,45.56250,39.773438,7.958333,76.581024,NaN,7.514827,NaN,27.416666,63.8125,NaN
3,1999-11-23,28.612303,NaN,NaN,3.314732,NaN,3.078125,14.6875,17.030178,NaN,...,43.65625,39.000000,7.895833,74.110672,NaN,7.391265,NaN,26.458334,62.5000,NaN
4,1999-11-24,29.372318,NaN,NaN,3.381696,NaN,3.078125,14.3125,17.282684,NaN,...,44.75000,39.562500,7.833333,74.275360,NaN,7.211538,NaN,27.027779,62.8750,NaN

In [28]:
df = pd.merge(df, df_BF_B, how = 'left', on = ["Date"])
df = pd.merge(df, df_BRK_B, how = 'left', on = ["Date"])

In [29]:
df.head()

,Date,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,...,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS,BF-B,BRK-B
0,1999-11-18,31.473534,NaN,NaN,3.200893,NaN,3.453125,14.0000,17.058233,NaN,...,8.031250,73.122528,NaN,7.750719,NaN,27.611111,64.5000,NaN,7.026667,38.340000
1,1999-11-19,28.880543,NaN,NaN,3.301339,NaN,3.421875,14.5000,16.833782,NaN,...,8.062500,75.592888,NaN,7.638390,NaN,27.833334,64.6250,NaN,6.880000,37.099998
2,1999-11-22,31.473534,NaN,NaN,3.236607,NaN,3.312500,14.1250,17.451021,NaN,...,7.958333,76.581024,NaN,7.514827,NaN,27.416666,63.8125,NaN,6.866667,38.180000
3,1999-11-23,28.612303,NaN,NaN,3.314732,NaN,3.078125,14.6875,17.030178,NaN,...,7.895833,74.110672,NaN,7.391265,NaN,26.458334,62.5000,NaN,6.546667,37.779999
4,1999-11-24,29.372318,NaN,NaN,3.381696,NaN,3.078125,14.3125,17.282684,NaN,...,7.833333,74.275360,NaN,7.211538,NaN,27.027779,62.8750,NaN,6.773334,37.900002

In [30]:
df.tail()

,Date,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,...,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS,BF-B,BRK-B
5157,2020-05-20,81.709999,9.87,135.720001,319.230011,91.190002,92.730003,196.360001,90.089996,195.179993,...,41.700001,17.24,62.080002,88.089996,126.599998,241.490005,31.120001,133.339996,68.690002,176.020004
5158,2020-05-21,80.750000,9.89,134.789993,316.850006,93.019997,92.250000,196.320007,90.389999,193.500000,...,41.959999,17.24,61.970001,88.010002,122.000000,244.149994,30.730000,130.330002,65.650002,174.940002
5159,2020-05-22,84.980003,9.70,133.479996,318.890015,92.099998,93.139999,206.160004,91.470001,193.710007,...,42.240002,16.98,62.220001,87.250000,123.400002,243.539993,30.190001,130.110001,64.779999,174.929993
5160,2020-05-26,86.129997,11.14,135.580002,316.730011,90.709999,90.779999,209.080002,89.480003,196.399994,...,45.330002,17.43,65.250000,88.050003,126.739998,255.960007,32.930000,130.449997,63.540001,180.339996
5161,2020-05-27,86.180000,11.98,141.710007,318.109985,89.980003,93.330002,207.759995,90.760002,199.929993,...,47.790001,18.09,68.860001,90.239998,128.339996,258.670013,35.080002,135.639999,65.820000,185.770004

# Save Files

In [31]:
df.to_csv('ALL_SP500_Prices.csv', index=False)