In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.24.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from selenium.webdriver.common.keys import Keys

In [3]:
from selenium import webdriver
driver = webdriver.Chrome()

In [23]:
driver.get("https://www.rocketfinancial.com/Dashboard.aspx?pID=0")

In [24]:
stock='AAPL'
driver.find_element_by_class_name("searchWatermark").send_keys(stock)

In [25]:
driver.find_element_by_id("ctrlHeader_searchBar_txtSearch").send_keys(Keys.ENTER)

In [32]:
driver.find_element_by_xpath("//div[@style='padding-bottom:2px; font-size:14px;']").click()

In [18]:
url = driver.current_url

In [19]:
import pandas as pd
import requests as req

In [10]:
header = {"User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"}

In [20]:
r = req.get(url, headers=header)

In [21]:
from bs4 import BeautifulSoup

In [22]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [14]:
for block in soup.find_all('table',{'class':'gridView'}):
    da = block.find_all('tr')
    append_row = {}
    col=[]
    for i in (da[0].find_all('th')):
        col.append((i.text))
        
    df = pd.DataFrame(columns=col)
    for s in range(1, len(da)):
        ind={}
        z = da[0].find_all('th')
        p = da[s].find_all('td')
        for m in range(len(p)):
            ind['{}'.format(z[m].text)] = p[m].text
        df = df.append(ind, ignore_index=True)
        
    df.to_csv('{}_Financial_Summary.csv'.format(stock), encoding='utf-8-sig', index=False)

In [15]:
df

,"In millions, except per share items",Sep-28-19,Sep-29-18,Sep-30-17,Sep-24-16,Sep-26-15,Sep-27-14,Sep-28-13,Sep-29-12
0,Revenues,"260,174","265,595","229,234","215,639","233,715","182,795","170,910","156,508"
1,Revenue growth,-2.0%,15.9%,6.3%,-7.7%,27.9%,7.0%,9.2%,44.6%
2,Cost of goods sold,"161,782","163,756","141,048","131,376","140,089","112,258","106,606","87,846"
3,Gross profit,"98,392","101,839","88,186","84,263","93,626","70,537","64,304","68,662"
4,Gross margin,37.8%,38.3%,38.5%,39.1%,40.1%,38.6%,37.6%,43.9%
5,"Selling, general and administrative","18,245","16,705","15,261","14,194","14,329","11,993","10,830","10,040"
6,Research and development,"16,217","14,236","11,581","10,045","8,067","6,041","4,475","3,381"
7,EBITA,"63,930","70,898","61,344","60,024","72,530","53,603","49,959","55,846"
8,EBITA margin,24.6%,26.7%,26.8%,27.8%,31.0%,29.3%,29.2%,35.7%
9,Amortization of intangibles,,,,,"1,300","1,100",960,605
10,EBIT,"63,930","70,898","61,344","60,024","71,230","52,503","48,999","55,241"
11,EBIT margin,24.6%,26.7%,26.8%,27.8%,30.5%,28.7%,28.7%,35.3%
12,Pre-tax income,"65,737","72,903","64,089","61,372","72,515","53,483","50,155","55,763"
13,Income taxes,"10,481","13,372","15,738","15,685","19,121","13,973","13,118","14,030"
14,Tax rate,15.9%,18.3%,24.6%,25.6%,26.4%,26.1%,26.2%,25.2%
15,Net income,"55,256","59,531","48,351","45,687","53,394","39,510","37,037","41,733"
16,Net margin,21.2%,22.4%,21.1%,21.2%,22.8%,21.6%,21.7%,26.7%
17,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Diluted EPS,$11.89,$11.91,$9.21,$8.31,$9.22,$6.45,$5.68,$6.31
19,Shares outstanding (diluted),"4,649","5,000","5,252","5,500","5,793","6,123","6,522","6,617"
20,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,EBIT is a non-GAAP figure that excludes all no...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN